body {
    background-image: url('../img/ville.jpeg');
    background-size: cover;
    
}

h1{
    margin: 15vh 0 8vh;
    text-align: center;
    color: white;
}

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }
  
  .slider {
    position: relative;
    width: 100vw;
    height: 300px;
    margin: 50px auto;
    overflow: hidden;


  }
  
  .slider-controls {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 40vw;
    text-align: center;
    transform: translatex(-50%);
    z-index: 1000;
    list-style: none;
    text-align: center;
  }
  
  .slider input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider-controls label {
    display: inline-block;
    border: 2px solid #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ea4c6e00;
    transition: background-color 0.2s linear;
    margin: 0 2vh;
  }

  #btn-1:checked ~ .slider-controls label[for="btn-1"] {
    border-color: #EA4C6F;
  }
  
  #btn-2:checked ~ .slider-controls label[for="btn-2"] {
    border-color: #EA4C6F  }
  
  #btn-3:checked ~ .slider-controls label[for="btn-3"] {
    border-color: #EA4C6F  }
  
  /* SLIDES */
  
  .slides {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    
  }
  
  .slide {
    position: absolute; 
    width: 70vw;
    height: 100%; 
    opacity: 0;
    transform: translatex(100%);
    transition: transform 250ms linear;
    text-align: center;
    color: white;
    margin-top: 3vh;
  }
  
  .slide-content {
    width: 400px;
  }
  
  .slide-title {
    margin-bottom: 20px;
    font-size: 36px;
  }
  
  .slide-text {
    margin-bottom: 20px;
  }
  
  .slide-link {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    background-color: #ff4081;
  }
  
  
  /* Slide animations */

  #btn-1:checked ~ .slides .slide:nth-child(1) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-2:checked ~ .slides .slide:nth-child(2) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-3:checked ~ .slides .slide:nth-child(3) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-1:not(:checked) ~ .slides .slide:nth-child(1) {
    animation-name: swap;
    animation-duration: 50ms;
    animation-timing-function: linear;
  }
  
  #btn-2:not(:checked) ~ .slides .slide:nth-child(2) {
    animation-name: swap;
    animation-duration: 50ms;
    animation-timing-function: linear;
  }
  
  #btn-3:not(:checked) ~ .slides .slide:nth-child(3) {
    animation-name: swap;
    animation-duration: 50ms;
    animation-timing-function: linear;
  }
  
  @keyframes swap-out {
    0% {
      transform: translatex(0);
      opacity: 1;
    }
  
    50% {
      transform: translatex(50%);
      opacity: 0;
    }
  
    100% {
      transform: translatex(100%);
    }
  }


/* Carroussel image */

@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");


.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  transition: background .4s ease-in;
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 30vw;
  height: 30vh;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container2 {
  width: 50vw;
  /* max-width: 800px;
  max-height: 600px; */
  height: 50vh;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 40vw;
  height: 20vh;
  /* margin-bottom: 20px; */
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1; 
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}