body {
    height: 83vh;
}

main {
    background-image: url(../img/prison.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
}

h1, h2, p {
    width: 35vw;
    color: white;
    text-align: center;
}

.timerBloc{
    padding: 17vh 15vw 5vh 50vw;
}

.eventInfo {
    padding: 10vh 15vw 5vh 50vw;
}

#event_img {
    bottom: 60vh;
    left: 10vw;
    position: relative;
}
