body {
  height: 83vh;
}

.main_vip {
  background-image: url(../img/backgroundVip.jpg);
  background-size: cover;
  background-position:bottom;
  height: 100%;
}

h1 {
  padding-top: 3vh;
  text-align: center;
  color: white;
  font-size: 60px;
  text-shadow: 1px 0 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0), 0 1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), -1px 0 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 0 -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0);
}

.vip, .vipPlus {
  height: 26vh;
}

.vip {
  padding-top: 10vh;
}

.vipPlus {
  padding-top: 15vh;
}

p {
  text-align: center;
  margin: 0 auto;
  color: white;
  width: 45vw;
  text-shadow: 1px 0 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0), 0 1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), -1px 0 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 0 -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0);
}

#img_vip {
  z-index: 1;
  left: 78vw;
  top: -36.2vh;
  width: 11vw;
  height: auto;
  position: relative;
}

.contour_vip {
  width: 12vw;
  height: 38vh;
  border: solid 1px #EA4C6F;
  position: relative;
  left: 77vw;
  bottom: 74vh;
}

#img_vipPlus {
  z-index: 1;
  left: 9vw;
  top: -35.1vh;
  width: 17vw;
  height: auto;
  position: relative;
}

.contour_vipPlus {
  bottom: 73vh;
  left: 10vw;
  width: 12vw;
  height: 38vh;
  border: solid 1px #EA4C6F;
  position: relative;
}

h2 a {
  color: #EA4C6F;
  text-align: center;  
  text-decoration: none;
}

h2 a:hover {
  color: #EA4C6F;
  
}

h2 {
  text-align: center;
}
