*{
    margin: 0;
}

@font-face {
    font-family: 'Iceland';
    src: url('../fonts/Iceland-Regular.ttf') format('truetype');
}

#timer {
    width: 100vw;
    top: 15vh;
    padding-top: 50vh;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-family: 'Iceland', cursive;
}

body {
    background: no-repeat url("../img/predation.png");
    background-color: black;
    background-size: contain;
    background-position:right 0vw;
}

main {
    width: 100vw;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 90%);


}

.barre_liens {
    width: 100vw;
    bottom: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
  
}

.barre_liens img {
    margin: 0 15px;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    opacity: 0.8;
}

.barre_liens img:hover {
    opacity: 1;
}

#navLien {
    display: flex;
    justify-content: center;
    margin: 31vh auto;
}

.reseauSociaux{
    position: absolute;
    opacity: 0;
    display: flex;
    justify-content: center;
    width: 6vw;
    height: 6vh;
}

.reseauSociaux.discord{
    opacity: 1;
    display: flex;
    
}

.barre_liens:hover #instagram {
    transform: translateX(-5em);
    transition: ease-in-out .9s;
    opacity: 1;
}

.barre_liens:hover #twitch {
    transform: translateX(-9em);
    transition: ease-in-out .9s;
    opacity: 1;
}

.barre_liens:hover #youtube {
    transform: translateX(-13em);
    transition: ease-in-out .9s;
    opacity: 1;

}

.barre_liens:hover #facebook {
    transform: translateX(5em);
    transition: ease-in-out .9s;
    opacity: 1;
}
.barre_liens:hover #twitter {
    transform: translateX(9em);
    transition: ease-in-out .9s;
    opacity: 1;
}
.barre_liens:hover #tiktok {
    transform: translateX(13em);
    transition: ease-in-out .9s;
    opacity: 1;
}






