*{
    margin: 0;
}

@font-face {
    font-family: 'Iceland';
    src: url('../fonts/Iceland-Regular.ttf') format('truetype');
}

#timer {
    width: 100vw;
    top: 15vh;
    padding-top: 50vh;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-family: 'Iceland', cursive;
}

body {
    background: no-repeat url("../img/Perso1-removebg-preview.png");
    background-color: black;
    background-size: contain;
    background-position:top 10vh left 15vw;
}

main {
    width: 100vw;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 45%);


}

.barre_liens {
    position: relative;
    width: 100vw;
    bottom: 20px;
    display: flex;
    justify-content: center;    
}

.barre_liens img {
    margin: 0 15px;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    opacity: 0.5;
}

.barre_liens img:hover {
    opacity: 1;
}

.logoDiscord {
    margin-bottom: -4vh;
}

#navLien {
    display: flex;
    justify-content: center;
    margin: 31vh auto;
    width: 6vw;
    max-width: 70vw;
    transition: width 0.5s ease-in-out;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

button{
    background-color: black;
    border: none;
    cursor: pointer;

}

.logo1 {
    margin-right: 45px;
}

.logo2 {
    margin-left: 45px;
}

